.green{
    background-color: #009A44;
}

.baseline{
 border-bottom: #7f8c8d 3px solid;   
}

.margin-top-10{
    margin-top: 10px;
}

.margin-left-30{
    margin-left: 30px;
}
.block{
    display: inline-block;
}
.flex-center{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.subraya-fem{
    border-bottom: #FF3D67 5px solid;
}

.subraya-mas{
    border-bottom: #059BFF 5px solid;
}
.raya-fem{
    border-left: #FF3D67 5px solid;
}

.raya-mas{
    border-right: #059BFF 5px solid;
}
.raya-fem-c{
    border-right: #FF3D67 5px solid;
}

.raya-mas-c{
    border-left: #059BFF 5px solid;
}
